In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\anaconda\lib\site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in c:\anaconda\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\anaconda\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in c:\anaconda\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [2]:
import cassandra
print(cassandra.__version__)

3.25.0

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('wGgQwdusawcAgwkEEgsCyqZx', '44EF0fTAOPkCKd1ZkN.aqlX3hhzvNtj2S4j9cC2gHf,n_7iqrEjfHmogGuKlvdyEiRB5pRP0vv-ytEEG5Zi2,4t1dxvjxEy5ZKFSprxnW4v5g_hxXFS00_H_s9ANI-7T')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('wGgQwdusawcAgwkEEgsCyqZx', '44EF0fTAOPkCKd1ZkN.aqlX3hhzvNtj2S4j9cC2gHf,n_7iqrEjfHmogGuKlvdyEiRB5pRP0vv-ytEEG5Zi2,4t1dxvjxEy5ZKFSprxnW4v5g_hxXFS00_H_s9ANI-7T')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select * from system_schema.keyspaces").one()
if row:
    print(row)
else:
    print("An error occurred.")

Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east1', '3')]))

In [7]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('wGgQwdusawcAgwkEEgsCyqZx', '44EF0fTAOPkCKd1ZkN.aqlX3hhzvNtj2S4j9cC2gHf,n_7iqrEjfHmogGuKlvdyEiRB5pRP0vv-ytEEG5Zi2,4t1dxvjxEy5ZKFSprxnW4v5g_hxXFS00_H_s9ANI-7T')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

try:
    row = session.execute("create table cloud.emp(emp_id int primary key, emp_name text, emp_city text, emp_sal varint, emp_phone varint);").one()
except:
    #if row:
    print(row)
#else:
#    print("An error occurred.")

AlreadyExists: Table 'cloud.emp' already exists

In [9]:
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (334, 'Irfan', 'Mumbai', 453, 9484)").one()

print(row)

None

In [12]:
row = session.execute("select * from cloud.emp").one()

print(row)

Row(emp_id=334, emp_city='Mumbai', emp_name='Irfan', emp_phone=9484, emp_sal=453)

In [11]:
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (711, 'Qasim', 'Bombay', 732, 4903)").one()

In [15]:
row = session.execute("select * from cloud.emp;").one()

print(row)

Row(emp_id=334, emp_city='Mumbai', emp_name='Irfan', emp_phone=9484, emp_sal=453)

In [16]:
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (711, 'Qasim', 'Bombay', 771, 490334)").one()
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (712, 'Maverick', 'Spain', 434, 934394)").one()
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (713, 'Vinales', 'Italy', 762, 459093)").one()
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (714, 'Marc', 'Brazil', 232, 982723)").one()
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone) values (715, 'Marquez', 'Japan', 614, 842933)").one()

In [20]:
row = session.execute("select * from cloud.emp;")

for i in row:
    print(i)

Row(emp_id=334, emp_city='Mumbai', emp_name='Irfan', emp_phone=9484, emp_sal=453)
Row(emp_id=711, emp_city='Bombay', emp_name='Qasim', emp_phone=490334, emp_sal=771)
Row(emp_id=712, emp_city='Spain', emp_name='Maverick', emp_phone=934394, emp_sal=434)
Row(emp_id=713, emp_city='Italy', emp_name='Vinales', emp_phone=459093, emp_sal=762)
Row(emp_id=716, emp_city='Mexico', emp_name='Raul Gimenez', emp_phone=849375, emp_sal=None)
Row(emp_id=714, emp_city='Brazil', emp_name='Marc', emp_phone=982723, emp_sal=232)
Row(emp_id=715, emp_city='Japan', emp_name='Marquez', emp_phone=842933, emp_sal=614)

In [19]:
# not inserting value in emp_salary cloumn
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_phone) values (716, 'Raul Gimenez', 'Mexico', 849375)")

In [22]:
row = session.execute("alter table cloud.emp add emp_email varchar")

In [23]:
row = session.execute("insert into cloud.emp(emp_id, emp_name, emp_city, emp_sal, emp_phone,emp_email) values (715, 'Marquez', 'Japan', 614, 842933,'hdas@gmial.com')")

In [24]:
row = session.execute("select * from cloud.emp;")

for i in row:
    print(i)

Row(emp_id=334, emp_city='Mumbai', emp_email=None, emp_name='Irfan', emp_phone=9484, emp_sal=453)
Row(emp_id=711, emp_city='Bombay', emp_email=None, emp_name='Qasim', emp_phone=490334, emp_sal=771)
Row(emp_id=712, emp_city='Spain', emp_email=None, emp_name='Maverick', emp_phone=934394, emp_sal=434)
Row(emp_id=713, emp_city='Italy', emp_email=None, emp_name='Vinales', emp_phone=459093, emp_sal=762)
Row(emp_id=716, emp_city='Mexico', emp_email=None, emp_name='Raul Gimenez', emp_phone=849375, emp_sal=None)
Row(emp_id=714, emp_city='Brazil', emp_email=None, emp_name='Marc', emp_phone=982723, emp_sal=232)
Row(emp_id=715, emp_city='Japan', emp_email='hdas@gmial.com', emp_name='Marquez', emp_phone=842933, emp_sal=614)

In [ ]:
#truncating (removing all data from table)
row=session.execute("TRUNCATE cloud.emp")

In [28]:
# update existing table
row = session.execute("update cloud.emp set emp_city='France', emp_email = 'mohs@yahoo.com', emp_name='Jinas' where emp_id = 714")

In [29]:
row = session.execute("select * from cloud.emp;")

for i in row:
    print(i)

Row(emp_id=334, emp_city='Mumbai', emp_email=None, emp_name='Irfan', emp_phone=9484, emp_sal=453)
Row(emp_id=711, emp_city='Bombay', emp_email=None, emp_name='Qasim', emp_phone=490334, emp_sal=771)
Row(emp_id=712, emp_city='Spain', emp_email=None, emp_name='Maverick', emp_phone=934394, emp_sal=434)
Row(emp_id=713, emp_city='Italy', emp_email=None, emp_name='Vinales', emp_phone=459093, emp_sal=762)
Row(emp_id=716, emp_city='Mexico', emp_email=None, emp_name='Raul Gimenez', emp_phone=849375, emp_sal=None)
Row(emp_id=714, emp_city='France', emp_email='mohs@yahoo.com', emp_name='Jinas', emp_phone=982723, emp_sal=232)
Row(emp_id=715, emp_city='Japan', emp_email='hdas@gmial.com', emp_name='Marquez', emp_phone=842933, emp_sal=614)

In [30]:
#delete a particular row or a part of row
row=session.execute("DELETE emp_email from cloud.emp where emp_id=715")

In [31]:
row = session.execute("select * from cloud.emp;")

for i in row:
    print(i)

Row(emp_id=334, emp_city='Mumbai', emp_email=None, emp_name='Irfan', emp_phone=9484, emp_sal=453)
Row(emp_id=711, emp_city='Bombay', emp_email=None, emp_name='Qasim', emp_phone=490334, emp_sal=771)
Row(emp_id=712, emp_city='Spain', emp_email=None, emp_name='Maverick', emp_phone=934394, emp_sal=434)
Row(emp_id=713, emp_city='Italy', emp_email=None, emp_name='Vinales', emp_phone=459093, emp_sal=762)
Row(emp_id=716, emp_city='Mexico', emp_email=None, emp_name='Raul Gimenez', emp_phone=849375, emp_sal=None)
Row(emp_id=714, emp_city='France', emp_email='mohs@yahoo.com', emp_name='Jinas', emp_phone=982723, emp_sal=232)
Row(emp_id=715, emp_city='Japan', emp_email=None, emp_name='Marquez', emp_phone=842933, emp_sal=614)