In [1]:
!python -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp38-cp38-win_amd64.whl (365 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

#### STEP 1: Create a DB

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")   # my connection
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
# create a database
dataBase = client["mohai"]
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mohai')

In [6]:
# create a collection
collection = dataBase["test"]  # it will create this 'test' collection if it is not available.
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mohai'), 'test')

###### Collection is a bunch of heterogeneous data but table is a kind of structured data.
###### But collection in MongoDB is equivalent to table in MySQL.

In [ ]:
Whenever you want to insert data in mongodb you have to create a dictionary or key-value pair kind of format.

In [8]:
record = {'companyName' : 'ineuron' , 'product': 'Affordable AI', 'courseOffered' : 'DL for Computer Vision'}
collection.insert_one(record)

# if you execute the same command again and again, then multiple records will be available in test collection but with different IDs

For example, if I have to create a new entry of data then we can add that as shown below.

In [9]:
record = {'companyName' : 'ineuron' , 
          'product': 'Affordable AI', 
          'courseOffered' : 'DL for Computer Vision',
          'name' : ["mohammad","irfan",("mohammad qasim",456)] }  

# mohammad, irfan & (mohammad qasim & 456) will be stored in one array but the later tuple comprises an array as well in mongoDB
collection.insert_one(record)

MongoDB or not only SQL databases is a collection based databases and here comes the difference from mySQL.
In mySQL databases, if we want to add a new column then we have to create a new table, but here if I have to change a structure of a particular document then we can do it by adding in previously created collection record.

In [10]:
record = {'companyName' : 'ineuron' , 
          'product': 'Affordable AI', 
          'courseOffered' : 'DL for Computer Vision',
          'name' : ["mohammad","irfan",("mohammad qasim",456)],
          'record_dict' : {"name" : "tayyu", "mail_id" : "myselftayyu@gmail.com", "mob_no": 97384384}}  

collection.insert_one(record)

#### Insert multiple records

In [12]:
list_of_records = [
                   {"CompanyName" : "ineuron",
                    "courseOffered" : "MySQL",
                    "timePeriod" : 9},
    
                   {"StudentName" : "Abhishek",
                    "RollNo" : 294,
                    "CourseEnrolled" : "Java Script"},
    
                    {"EmployeeName" : ["Krish Naik", "Sudhanshu Kumar", "Hitesh Choudhary"],
                     "EmployeeID" : [3900, 3202, 2303],
                     "CourseMentor" : {"Krish" : ["NLP", "DL", "Stats"], "Sudhanshu": ["Data Analytics", "Python" ,"MySQL"], "Hitesh":["Java Script", "Block Chain"]}
                    }
]

rec = collection.insert_many(list_of_records)

In [13]:
# Let's print the unique ID of the record that we have inserted
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx} : {unique_ids}")

0 : 62adf9998e6811770e5e134a
1 : 62adf9998e6811770e5e134b
2 : 62adf9998e6811770e5e134c

In [25]:
collection.find_one()

{'_id': ObjectId('62adeada8e6811770e5e1347'),
 'companyName': 'ineuron',
 'product': 'Affordable AI',
 'courseOffered': 'DL for Computer Vision'}

You can override the default unique ID by giving a user defined ID as shown below.

In [20]:
my_collection = "housing data"
collection_name = dataBase[my_collection]

record_user_id = [
          {"_id" : "1",
          "bldgName" : "Golconda",
          "resName" : "Mohammad Rafi"},
    
          {"_id" : "2",
          "bldgName" : "Hastinapur",
          "resName" : "Garv Varshney"},
    
          {"_id" : "3",
          "bldgName" : "Musoorie",
          "resName" : "Manish Chauhan"},
    
          {"_id" : "4",
          "bldgName" : "Narmada",
          "resName" : "Sukhvinder Kaur"}
]

housing_record = collection_name.insert_many(record_user_id)

#### Find method in MongoDB

In [24]:
collection_name.find_one()

{'_id': '1', 'bldgName': 'Golconda', 'resName': 'Mohammad Rafi'}

In [21]:
find_first_record = collection_name.find_one()

print(f"The first record of collection: \n{my_collection} is -->\n {find_first_record}")

The first record of collection:
housing data is -->
 {'_id': '1', 'bldgName': 'Golconda', 'resName': 'Mohammad Rafi'}

In [22]:
#  Find all the records at once present in the record with all the fields
all_records = collection_name.find()

for idx, record in enumerate(all_records):
    print(f"{idx} : {record}")

0 : {'_id': '1', 'bldgName': 'Golconda', 'resName': 'Mohammad Rafi'}
1 : {'_id': '2', 'bldgName': 'Hastinapur', 'resName': 'Garv Varshney'}
2 : {'_id': '3', 'bldgName': 'Musoorie', 'resName': 'Manish Chauhan'}
3 : {'_id': '4', 'bldgName': 'Narmada', 'resName': 'Sukhvinder Kaur'}

In [37]:
# Find all records at once present in the field with SPECIFIC fields
all_record = collection_name.find({},{"resName"})

for idx, record in enumerate(all_record):
    print(f"{idx} : {record}")

0 : {'_id': '1', 'resName': 'Mohammad Rafi'}
1 : {'_id': '2', 'resName': 'Garv Varshney'}
2 : {'_id': '3', 'resName': 'Manish Chauhan'}
3 : {'_id': '4', 'resName': 'Sukhvinder Kaur'}

#### Query or filter out data in MongoDB

In [39]:
 collection_name.find({"_id" : "1"})

In [40]:
query1 = {"_id" : "1"}

results = collection_name.find(query1)
for data in results:
    print(data)

{'_id': '1', 'bldgName': 'Golconda', 'resName': 'Mohammad Rafi'}

In [42]:
 for i in collection_name.find({"bldgName" : "Narmada"}):
        print(i)

{'_id': '4', 'bldgName': 'Narmada', 'resName': 'Sukhvinder Kaur'}

In [43]:
for i in collection_name.find({"_id" : {'$gt':'1'}}):  # for _id greater than 1 
    print(i)

{'_id': '2', 'bldgName': 'Hastinapur', 'resName': 'Garv Varshney'}
{'_id': '3', 'bldgName': 'Musoorie', 'resName': 'Manish Chauhan'}
{'_id': '4', 'bldgName': 'Narmada', 'resName': 'Sukhvinder Kaur'}

#### Delete one or many documents in MongoDB

In [44]:
random_data = [
    {'_id' : '5', 'bldgName' : 'Sarnath', 'resName' : 'Ajay Tichkole'},
    {'_id' : '6', 'bldgName' : 'Sahyadri', 'resName' : 'Praveen Gokhle'},
    {'_id' : '7', 'bldgName' : 'Vindhya', 'resName' : 'Harthal Shah'}
]

collection_name.insert_many(random_data)

In [45]:
# Let's delete one document in collectioin_name
query_to_delete = {'resName' : 'Praveen Gokhle'}

collection_name.delete_one(query_to_delete)

In [46]:
#Let's delete multiple record
multi_to_delete = {"_id" : {"$gte" : "5"}}

collection_name.delete_many(multi_to_delete)

In [47]:
#### Drop the entire collection
collection_name.drop()

In [ ]:
#Let's verify if the collection exists or not after droping it
COLLECTION_NAME = "housing data"
DB_NAME = "mohai"