In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (8.0.29)
Collecting protobuf>=3.0.0
  Downloading protobuf-4.21.1-cp38-cp38-win_amd64.whl (524 kB)
Installing collected packages: protobuf
Successfully installed protobuf-4.21.1

In [4]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", user = "root", passwd = "mysql123", use_pure = True)
    # to check if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()   # create a cursor to execute queries
    cursor.execute(query)
    result = cursor.fetchall()

except Exception as e:
    mydb.close()
    print("Error is", str(e))

In [5]:
result

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [8]:
for i in result:
    print(i[0])

information_schema
mysql
performance_schema
sakila
sys
world

If I have to create a new database, then give command in sql as create database db_name or here in python as well by mentioning in the query.

In [11]:
import mysql.connector as connection


mydb = connection.connect(host = "localhost", user = "root", passwd = "mysql123", use_pure = True)
# to check if the connection is established

cursor = mydb.cursor()
query = "create database db_pythn"
cursor.execute(query)

#### Create a table inside newly created database

In [28]:
mydb = connection.connect(host="localhost", database="mydb123", user="root", passwd="mysql123", use_pure=True)

In [29]:
mydb.is_connected()

True

In [ ]:
#create a cursor
cur = mydb.cursor()
cur.execute("create table test(x1 INT(5) , x2 VARCHAR(20) , x3 DATE)")
mydb.close()

To open in sql :
    use db_python
    select * from test; select this second line and then execute it to see table.

In [31]:
mydb = connection.connect(host="localhost", database = "db_pythn", user="root",passwd="mysql123", use_pure=True)
cur = mydb.cursor()
cur.execute("insert into test values(123, 'mohai', '2022-06-17')")  # accepts date in yyyy-mm-dd format

In [32]:
mydb.commit()  # data will only be visible in sql after performing commit operation.

In [33]:
cur.execute("insert into test values(110, 'tayyu', '2022-06-18')") 
cur.execute("insert into test values(64, 'arham', '2022-06-19')") 
cur.execute("insert into test values(45, 'amayra', '2022-06-20')") 
cur.execute("insert into test values(89, 'qasim', '2022-06-21')")

In [34]:
mydb.commit()

In [35]:
cur.execute("insert into test values(890, 'qasim', '2022-06-21')")
cur.execute("insert into test values(34, 'vinales', '2022-06-22')")
cur.execute("insert into test values(454, 'sana', '2022-06-23')")
cur.execute("insert into test values(54, 'ayan', '2022-06-24')")
cur.execute("insert into test values(45, 'zeeshan', '2022-06-25')")
cur.execute("insert into test values(876, 'shabnam', '2022-06-26')")
cur.execute("insert into test values(867, 'sweety', '2022-06-27')")
cur.execute("insert into test values(33, 'somi', '2022-06-28')")
cur.execute("insert into test values(83, 'khushboo', '2022-06-29')")
cur.execute("insert into test values(345, 'sarwar', '2022-06-01')")
cur.execute("insert into test values(5, 'anwar', '2022-06-02')")
cur.execute("insert into test values(84, 'noor', '2022-06-03')")
cur.execute("insert into test values(45, 'shifa', '2022-06-04')")
cur.execute("insert into test values(62, 'rayyan', '2022-06-05')")
cur.execute("insert into test values(48, 'yogendra', '2022-06-06')")
cur.execute("insert into test values(28, 'akhilesh', '2022-06-07')")
cur.execute("insert into test values(37, 'rahul', '2022-06-08')")
cur.execute("insert into test values(27, 'ankur', '2022-06-09')")
cur.execute("insert into test values(58, 'srikant', '2022-06-10')")
cur.execute("insert into test values(345, 'pathak', '2022-06-11')")
cur.execute("insert into test values(83, 'majnu', '2022-06-12')")
cur.execute("insert into test values(25, 'pandey', '2022-06-13')")
cur.execute("insert into test values(378, 'ravi', '2022-06-14')")
cur.execute("insert into test values(43, 'eden', '2022-06-15')")
cur.execute("insert into test values(43, 'hazard', '2022-06-16')")
cur.execute("insert into test values(363, 'maverick', '2022-06-17')")

In [36]:
mydb.commit()

In [43]:
mydb = connection.connect(host="localhost", database="db_pythn", user="root", passwd="mysql123", use_pure=True)

In [44]:
cur = mydb.cursor()

In [45]:
cur.execute("select * from test")

In [46]:
for i in cur.fetchall():
    print(i)

(123, 'mohai', datetime.date(2022, 6, 17))
(110, 'tayyu', datetime.date(2022, 6, 18))
(64, 'arham', datetime.date(2022, 6, 19))
(45, 'amayra', datetime.date(2022, 6, 20))
(89, 'qasim', datetime.date(2022, 6, 21))
(890, 'qasim', datetime.date(2022, 6, 21))
(34, 'vinales', datetime.date(2022, 6, 22))
(454, 'sana', datetime.date(2022, 6, 23))
(54, 'ayan', datetime.date(2022, 6, 24))
(45, 'zeeshan', datetime.date(2022, 6, 25))
(876, 'shabnam', datetime.date(2022, 6, 26))
(867, 'sweety', datetime.date(2022, 6, 27))
(33, 'somi', datetime.date(2022, 6, 28))
(83, 'khushboo', datetime.date(2022, 6, 29))
(345, 'sarwar', datetime.date(2022, 6, 1))
(5, 'anwar', datetime.date(2022, 6, 2))
(84, 'noor', datetime.date(2022, 6, 3))
(45, 'shifa', datetime.date(2022, 6, 4))
(62, 'rayyan', datetime.date(2022, 6, 5))
(48, 'yogendra', datetime.date(2022, 6, 6))
(28, 'akhilesh', datetime.date(2022, 6, 7))
(37, 'rahul', datetime.date(2022, 6, 8))
(27, 'ankur', datetime.date(2022, 6, 9))
(58, 'srikant', datetime.date(2022, 6, 10))
(345, 'pathak', datetime.date(2022, 6, 11))
(83, 'majnu', datetime.date(2022, 6, 12))
(25, 'pandey', datetime.date(2022, 6, 13))
(378, 'ravi', datetime.date(2022, 6, 14))
(43, 'eden', datetime.date(2022, 6, 15))
(43, 'hazard', datetime.date(2022, 6, 16))
(363, 'maverick', datetime.date(2022, 6, 17))

If I want to select only x1 and x2 column. Then

In [47]:
cur = mydb.cursor()
cur.execute("select x1, x2 from test")

In [48]:
for i in cur.fetchall():
    print(i)

(123, 'mohai')
(110, 'tayyu')
(64, 'arham')
(45, 'amayra')
(89, 'qasim')
(890, 'qasim')
(34, 'vinales')
(454, 'sana')
(54, 'ayan')
(45, 'zeeshan')
(876, 'shabnam')
(867, 'sweety')
(33, 'somi')
(83, 'khushboo')
(345, 'sarwar')
(5, 'anwar')
(84, 'noor')
(45, 'shifa')
(62, 'rayyan')
(48, 'yogendra')
(28, 'akhilesh')
(37, 'rahul')
(27, 'ankur')
(58, 'srikant')
(345, 'pathak')
(83, 'majnu')
(25, 'pandey')
(378, 'ravi')
(43, 'eden')
(43, 'hazard')
(363, 'maverick')

##### To visualise the above data in a proper structured and in neat and clean tabular format we use pandas library.

In [49]:
import pandas as pd    # library for data visualization gives structured data

In [50]:
mydb   #to check whether connection is still established.

In [56]:
rec = pd.read_sql("select * from test", mydb)  # we need not give db name as it is already mentioned in the connection 'mydb'.

In [57]:
rec.to_csv("mydata.csv")  # saves the above rec into my system as a csv file.

Now, I have to dump this `mydata.csv` into another table.

In [58]:
mydb  # checking connection

In [59]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20), n2 varchar(20), n3 date)")  #new table is created

In [60]:
data = pd.read_csv('mydata.csv')           #read this mydata.csv present in my local system
data

    Unnamed: 0   x1        x2          x3
0            0  123     mohai  2022-06-17
1            1  110     tayyu  2022-06-18
2            2   64     arham  2022-06-19
3            3   45    amayra  2022-06-20
4            4   89     qasim  2022-06-21
5            5  890     qasim  2022-06-21
6            6   34   vinales  2022-06-22
7            7  454      sana  2022-06-23
8            8   54      ayan  2022-06-24
9            9   45   zeeshan  2022-06-25
10          10  876   shabnam  2022-06-26
11          11  867    sweety  2022-06-27
12          12   33      somi  2022-06-28
13          13   83  khushboo  2022-06-29
14          14  345    sarwar  2022-06-01
15          15    5     anwar  2022-06-02
16          16   84      noor  2022-06-03
17          17   45     shifa  2022-06-04
18          18   62    rayyan  2022-06-05
19          19   48  yogendra  2022-06-06
20          20   28  akhilesh  2022-06-07
21          21   37     rahul  2022-06-08
22          22   27     ankur  2022-06-09
23          23   58   srikant  2022-06-10
24          24  345    pathak  2022-06-11
25          25   83     majnu  2022-06-12
26          26   25    pandey  2022-06-13
27          27  378      ravi  2022-06-14
28          28   43      eden  2022-06-15
29          29   43    hazard  2022-06-16
30          30  363  maverick  2022-06-17

In [63]:
data1 = pd.read_sql('select * from test', mydb)    # reading my data

In [ ]:
data1.to_sql('mydata', mydb)  #present data structure not compatible with new table where we want to dump

In [136]:
import mysql.connector as connection
import pandas as pandas
import csv

mydb = connection.connect(host="localhost", user="root", passwd = "mysql123", use_pure=True)

cur = mydb.cursor()
cur.execute("create table db_pythn.glass3 (`index` int(20),RI float(10,5),Na float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class int(5))")
# since index is a reserved word hence we use ` before and after.

In [72]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [73]:
pwd()

'C:\\Users\\Mohammad Irfan'

In [83]:
with open("glass.data" ,"r") as data:
    next(data)    # skipping the very first row of data as it is a header and doesnot contain data we use `next` function.
    data_csv = csv.reader(data, delimiter = "\n")  #converting all our data in csv format
    for i in enumerate(data_csv):
        #print(i)
        for j in i[1]:
            print(type(j))
            cur.execute('insert into db_pythn.glass values ({data})'.format(data=j))
    print("All the data inserted.")
mydb.commit()

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
All the data inserted.

In [134]:
with open("glass.data" ,"r") as data:
    next(data)    
    data_csv = csv.reader(data, delimiter = "\n")
    for j in data_csv:
        #print(type(str(j)))
        #print(j[0])    # only giving j will give entire list, so we need to provide first index of j.
        cur.execute('insert into db_pythn.glass2 values ({data})'.format(data=j[0]))  # data=j will give error as it is list type.
    print("All the data inserted.")
mydb.commit()

# inside the list string is available and our dataset is available at 0th index

All the data inserted.

In [138]:
with open("glass.data" ,"r") as data:  
    data_csv = csv.reader(data)
    for i in data_csv:
    
        print(type(j[0]))
        cur.execute(f"insert into db_pythn.glass3 values ({(j[0])})")
    print("All data inserted.")
mydb.commit()

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
All data inserted.

#### Delete from SQL table

In [3]:
import mysql.connector as connection
import csv

mydb = connection.connect(host="localhost", database="db_pythn",user="root", passwd="mysql123", use_pure=True)
print(mydb.is_connected())

query = "delete from test where x2 = 'rahul'"
cur = mydb.cursor()
cur.execute(query)
mydb.commit()

True

#### Update SQL Table from python

In [4]:
query = "update test set x1=999, x2='ronaldo' where x1=890"
cursor= mydb.cursor()
cursor.execute(query)
mydb.commit()